<!DOCTYPE html>
<html>
<head>
    <style type="text/css">
                .click
                {
                    color: red;
                }

    </style>

    <title>Dot-Check</title>
    <link rel="Shortcut Icon" href="C:\Users\Black Mesa\Pictures\like.png">
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>

<div class="container col-md-12" style="margin-top: 10px">

    <div class="card border-primary mb-3">
        <div class="card-body">
            <h2 id="txt" class="card-title text-center">Quantidade máxima de pontos registrados para o funcionário {{ func }}</h2>
            <br>
            <hr>
            <br>
            <div class="text-center">
                <a class="btn btn-outline-primary col-5" href="{% url 'home'%}" role="button">Início</a>
            </div>
            <br>
        </div>
    </div>

</div>
</body>

</html>