<h1>Frequencias</h1>
{% for frequencia_p in frequencia %}
    {% if frequencia_p.status_ponto.descricao == "Inconsistente" %}
        <div>
            {{ frequencia_p.funcionario.nome }}
            <br>
            {{ frequencia_p.hora_entrada_1 }}
            <br>
            {{ frequencia_p.data_resgistro }}
            <br>
            {{ frequencia_p.status_ponto }}
            <br>
            {{ frequencia_p.ip_registro }}
        </div>
        <div>
            <h2>Configuração hora</h2>
            <p>Hora entrada 1: {{ frequencia_p.funcionario.conf_hora.conf_hora_entrada_1 }}</p>
            <p>Hora saída 1: {{ frequencia_p.funcionario.conf_hora.conf_hora_saida_1 }}</p>
            <p>Hora entrada 2: {{ frequencia_p.funcionario.conf_hora.conf_hora_entrada_2 }}</p>
            <p>Hora saída 2: {{ frequencia_p.funcionario.conf_hora.conf_hora_saida_2 }}</p>
        </div>
    {% endif %}
{% endfor %}

{% if user.is_authenticated %}
    <a href="{% url 'logout'%}">Logout</a>
{% endif %}