<h1>Frequencias</h1>
{% for frequencia_p in frequencia %}
    {% if frequencia_p.status_ponto.descricao == "Inconsistente" %}
        <div>
            {{ frequencia_p.funcionario.nome }}
            <br>
            {{ frequencia_p.hora_ponto }}
            <br>
            {{ frequencia_p.data_resgistro }}
            <br>
            {{ frequencia_p.status_ponto }}
            <br>
            {{ frequencia_p.ip_registro }}
            <br>
            {{ frequencia_p.tipo_ponto }}


        </div>
    <hr>
    {% endif %}
{% endfor %}