<h1>Não justificados</h1>
{% if user.is_authenticated %}

    {% for funcionario in frequencia %}

        {% if funcionario.funcionario.usuario == user %}

            {% if funcionario.status_ponto.descricao == "Inconsistente" and funcionario.tipo_ponto.descricao == "Entrada" %}

                <div>

                    <br>
                    {{ funcionario.hora_ponto }}
                    <br>
                    {{ funcionario.data_resgistro }}
                    <br>
                    {{ funcionario.status_ponto }}
                    <br>
                    {{ funcionario.ip_registro }}
                    <br>
                    {{ funcionario.tipo_ponto }}
                    <br>
                </div>
                    {% if funcionario.juntificativa != Null and funcionario.juntificativa != '' %}
                        <p> Justufucativa: {{ funcionario.juntificativa }}</p>
                    {% else %}
                        <a href="justificar/{{funcionario.pk}}">Justificar</a>
                    {% endif %}

                <hr>
            {% endif %}

        {% endif %}

    {% endfor %}

{% endif %}